@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    background-color: #E5E5E5 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 25px !important;
    font-weight: 700;
    color: #0A191E;
    text-align: left;
    margin-right: auto;
}

h2 {
    font-weight: 600;

}

