
.main {
    max-width: 500px;
    margin: auto;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.content {
    flex: 0.7;
    width: 100%;
    z-index: 1;
}

.inputColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.inputColumn > button {
    margin-top: 0.5rem;
}

.imageContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    z-index: 0;


}

@media (min-width: 500px) {
    .imageContainer {
        display: none;
    }
}

